html{
    scroll-behavior: smooth;
    text-align: center;
    border: 8px solid black;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:blanchedalmond;
    font-size: 130%;
    background-color: rgb(87, 7, 82);
}
main{
    background-image: url("../img/background1.jpg");
    background-size:cover;
}
h1{
    text-decoration: underline;
    color:azure;
    font-size: 300%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:lightcyan;
    font-size: 200%;
}
a{
    color:lavenderblush;
}
a:hover{
    color:mediumorchid;
}
a:active{
    color:yellow;
    text-decoration: none;
}
.verse1,.verse2{
    letter-spacing: normal;
}
main section:nth-child(1):hover{
    color:rgb(57, 15, 71);
}
main section:nth-child(2):hover{
    color:rgb(59, 73, 87);
}
main section:nth-child(3):hover{
    color:rgb(40, 3, 54);
}
#go{
    font-style: italic;
    font-size: 150%;
    color:lightblue; 
}